Backend/obj
Backend/bin
*.pdb
*.dll
Frontend/src/components/CardOferta/CardOferta.js
Backend/obj/Debug/netcoreapp3.0/project.razor.json
Backend/obj/Debug/netcoreapp3.0/Backend.csprojAssemblyReference.cache
Backend/obj/Debug/netcoreapp3.0/Backend.assets.cache
