:root{
    --roxo: #8A4F7D;
    --vermelho: #F2441D;
    --laranja: #FF9F1C;
    --amarelo:#FFB400;
    --cinza: #F2F2F2;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:roboto;
    background-color: var(--cinza);
}
main{
    padding-top: 190px;
}
/* CONTAINERS */
/*HEADER*/
.container_h{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    margin: auto;
}
.container_h .logo{
    width: 120px;
}
.container{
    width: 1100px;
    margin: auto;
}
header{
    -webkit-box-shadow: 0px 3px 6px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 3px 6px 0px rgba(204,204,204,1);
    box-shadow: 0px 3px 6px 0px rgba(204,204,204,1);
    background-color: white;
    position: fixed;
    padding: 30px;
    width: 100%;
    z-index: 50;
}
header ul{
    width: 750px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding-bottom: 40px;
}
header ul a:hover{
    border-bottom: 2px solid var(--laranja);
    padding: 5px 20px;
    text-decoration: none;
    color: var(--roxo);
}
header a{
    text-decoration: none;
    color: var(--roxo);
    text-transform: uppercase;
    padding: 5px 20px;
}
header .pesquisa{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--laranja);
    width: 600px;
}
.pesquisa  img{
   width: 20px;
   height: 20px;
}
#txtbusca::-webkit-input-placeholder { 
    color: var(--roxo);
    text-align: center;
  }
#txtbusca{
    border: none;
    width: 530px;
    height: 30px;
    font-size: 14px;
    text-transform: uppercase;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*FIM HEADER*/
/*FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 170px;
    -webkit-box-shadow: 0px -3px 6px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px -3px 6px 0px rgba(204,204,204,1);
    box-shadow: 0px -3px 6px 0px rgba(204,204,204,1);
    font-size: 20px;
    color: var(--roxo);
}
.redes_sociais{
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.redes_sociais p{
    padding: 30px;
}
.fa-facebook-f, .fa-instagram, .fa-linkedin-in, .fa-twitter{
    color: var(--laranja);
}
/*FIM FOOTER*/

/*HOME*/
.banner{
    background-image: linear-gradient(rgba(138,79,125,0.4),rgba(138,79,125,0.4)),url(../Imagens/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 657px;
} 
h2{
    text-align: center;
    font-size: 24px;
    color: var(--roxo);
    padding: 15px;
}
hr{
    border: none;
    background-color: var(--laranja);
    height: 2px;
    width: 350px;
    margin: auto;
    margin-bottom: 10px;
}
.banner_sobre{
    background-image: linear-gradient(rgba(138,79,125,0.6),rgba(138,79,125,0.6)),url(../Imagens/testesobre.jpg);
    background-position: 0% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}
.container_marcas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.container_marcas img{
    width: 250px;
    height: 168px;
}
.sobre h2{
    padding-top: 60px;
    color: white;
}
.sobre p{
    color:white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 1100px;
    margin: auto;
}
/*FIM HOME*/

/* LOGIN*/
.cont-geral{
    display: flex;
    justify-content: center;
}
.cadastrar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: var(--laranja) 1px solid;
}
#form_cadastro label,#form_login label{
    display: flex;
    flex-direction: column;
    padding: 90px;
}
label input{
    height: 35px;
    width: 409px;
    margin-bottom: 20px;
    text-align: left;
}
.btn{
    padding:10px 120px;
    border: none;
    background-color: var(--roxo);
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
}
.btn:hover{
    color: white;
}
/*FIM LOGIN*/

/* MINHAS OFERTAS */
/*FILTRO*/
.container_filtro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1100px;
    margin: auto;
    padding: 10px 0px;
}
.filtro{ /*section filtro estilizando a fonte*/
    font-size: 20px;
    color: var(--roxo);
    padding: 30px 0px;
}
.filtro select{
    color: #707070; 
    border-color: var(--roxo);
    width: 175px;
    font-size: 18px;
    padding: 4px 10px;
    border-radius: 5px;
}
.filtros{
    display: flex;
    justify-content: space-around;
    margin: 30px 0px;
}
.filtros a{
    -webkit-box-shadow: 3px 3px 6px 0px rgba(204,204,204,0.5);
    -moz-box-shadow: 3px 3px 6px 0px rgba(204,204,204,0.5);
    box-shadow: 3px 3px 6px 0px rgba(204,204,204,0.5);
    padding: 10px 30px;
    text-decoration: none;
    margin-bottom: 20px;
}
/*FIM FILTROS*/
/* CARD*/
.cont_branco{
    width: 1100px;
    margin: auto;
    margin-top: 4.0em;
    margin-bottom: 4.0em;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 3px 6px 0px rgba(204,204,204,1);
    box-shadow: 0px 3px 6px 0px rgba(204,204,204,1);
    padding-bottom: 30px;
}
.container_ofertas{
   display: flex;
    width: 1100px;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0px;
}
.container_card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.card_oferta{
    width: 250px;
    height: 480px;
    display: flex;
    flex-flow: column;
    margin: 30px 0px;
    -webkit-box-shadow: 3px 3px 6px 0px rgba(204,204,204,1);
    -moz-box-shadow: 3px 3px 6px 0px rgba(204,204,204,1);
    box-shadow: 3px 3px 6px 0px rgba(204,204,204,1);
    background-color: white;
}
.card_oferta img{
    width: 100%;
}
.card_oferta p{
    margin:5px 10px;
}
.titulo_descricao{
    font-size: 10pt;
}
.descricao{
    font-size:14pt;
}
.descricao_pequena{
    width:50%;
}
.descricao_oferta{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.avaliacao img{
    width: 100px;
    margin: 0px 5px;
}
/*FIM CARD*/
.qnt_ofertas{
    padding-left: 100px;
}
.btn_cria_Oferta{
    background-color:var(--laranja);
    color: #fff;
    text-transform: uppercase;
    border: none;
}
.btn-filtro{
    border: 1px solid var(--cinza);
    color: 1px solid var(--roxo);
}
.botoes_oferta{
    display: flex;
    justify-content: space-around;
    margin-top:20px;
}
.btn_edita_oferta{
    background-color: var(--roxo);
    color:#fff;
    padding: 8px 30px;
    text-decoration:none;
    text-align: center;
    border-radius: 4px;
}
.btn_apaga_oferta{
    background-color: var(--vermelho);
    color:#fff;
    padding: 8px 30px;
    text-decoration:none;
    text-align: center;
    border-radius: 4px;
}
.paginacao_ofertas{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
}
.lista_paginacao {
    width: 300px;
    display: flex;
    justify-content: center ;
    list-style: none;
}
.lista_paginacao a{
    background-color: white;
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid var(--cinza);
    border-radius: 4pt;
    -webkit-box-shadow: 3px 3px 6px 0px rgba(204,204,204,0.5);
    -moz-box-shadow: 3px 3px 6px 0px rgba(204,204,204,0.5);
    box-shadow: 3px 3px 6px 0px rgba(204,204,204,0.5);
    padding: 10px 20px;
    margin: 4px;
    color: var(--roxo);
    font-weight: bold;
    font-size:15pt;
}
/* FIM */

/*MOSTRUARIO*/
.banner_mostruario{
    background-image:url(../Imagens/bannerAlimento.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 657px;
}
.caixa_imagem{
    width: 250px;
    height: 256px;
}
.botao_reservar{
    display: flex;
    justify-content: space-around;    
}
.btn_reservar{
    background-color: var(--roxo);
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    text-align: center;
}
.empresa_produtos{/*Imagem empresa*/
    width: 80px;
}
/*FIM - LUCAS*/

/*SOBRE NOS - PATY*/
.sn_topo{
    background-image:linear-gradient(rgba(138, 79, 125, 0.6),rgba(138,79,125,0.6)), url(../Imagens/sobrenossn.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: top center;
    height: 600px;
    padding-top: 156px;
    display: flex;
    align-items: center;
}
.sn_texto{
    font-size: 22px;
    color: white;
    width: 1100px;
    height: 400px;
    margin: auto;
    text-align: center;
    line-height: 35px;
}
.sn_texto h2{
    color: white;
}
.sn_texto p{
    padding-top: 20px;
}
.sn_dev{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
    margin-bottom: 50px;
}
.dev{
    padding: 10px;
    color: var(--roxo);
    font-size: 25px;
}
.dev p:hover{
    color:var(--laranja);
}
.sn_dev img{
    width: 180px;
    border-radius: 50%;
    border: 4px solid #FFB400;
    margin: 40px;
}
/*FIM SOBRE NOS/

/*PERFIL DO USUÁRIO*/
.container_perfil{
    display: flex;
    justify-content: space-around;
    padding-top:30px; 
}
.imgperfil img{
    width: 280px;
    border: solid 2px var(--laranja);
}
.form_perfil input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}
.btn_perfil{
    padding:10px 80px;
    margin: 10px;
    border: none;
    background-color: var(--roxo);
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
}
.btn_perfil:hover{
    color: white;
}
.btnperfil{
    display: flex;
    justify-content: flex-end;
}
/*FIM PERFIL DO USUÁRIO*/

/*CADASTRO DE OFERTAS*/
.container-perfil {
    background: white;
    padding:20px 20px;
    margin-bottom: 60px;
    width:1100px;
    margin: auto;
  }
  .formulario-cad {
    padding: 40px;
    width: 800px;
    margin:auto;
    display: flex;
    justify-content: space-between;
  }
  button {
    font-size: 1em;
    border-radius: 4px;
    padding: 10px;
    border: none;
    background-color: var(--roxo);
    color: white;
    cursor: pointer;
  }
.produtos-cadastos{
    padding: 10px;
    margin: 0px 20px 20px 0px;
    width: 300px;
  }
  .produtos-cadastos img{
    border: solid 3px var(--amarelo);
    width: 100%;
    border-radius: 6px;
  }
  .formulario-reservas{
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form_adicionais{
    width: 600px;
    height: 50px;
  }
  .container-qnt{
    width: 880px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .input_vert{
    width: 44%;
  }
  .input_horizontal{
    width: 100%;
  }
  .informacoes_adicionais{
    height: 50px;
    width: 100%;
  }
  .form-cad{
    width: 900px;
  }
  .form-group{
    padding: 10px;
  }
  .tabela_reservas tr{
    -webkit-box-shadow: 0px 3px 6px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 3px 6px 0px rgba(204,204,204,1);
    box-shadow: 0px 3px 6px 0px rgba(204,204,204,1);
    border: none;
    padding: 20px;
    border-collapse: collapse;
  }
  .tabela_reservas td, th{
    padding: 20px;
  }
  .tabela_reservas{
    width: 800px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .form-cad input{
    display: block;
    width: 80%;
    height: 34px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    color:var(--roxo);
  }

  /*BOTOES*/
/*FIM CADASTRO DE OFERTAS*/
/*MEDIAS QUERIES*/
/*TABLET*/
@media (max-width:1169px){
    header .pesquisa{
        width: 500px;
    }
    nav, .container_h{
        width: 768px;
    }
    .banner img{
        width: 100%;
        background-position: top;
    }
    .container{
        width: 730px;
    }
    .container_card{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .container_marcas img{
        width: 160px;
        height: 100px;
    }
    .sn_dev{
        width: 730px;
        flex-wrap: wrap;
    }
    .container_card_mostruario{
        width: 730px;
        flex-wrap: wrap;
    }
    .container_filtro{
        width: 730px;
        flex-direction: column;
    }
    .categoria_filtro{
        margin: 5px;
    }
    .paginacao{
        width: 730px;
    }
    .paginacao_ofertas{
        width: 730px;
    }
    .cont_branco{
        width: 730px;
    }
    .ofertas_cadastradas{
        flex-wrap: wrap;
    }
   
    .container_ofertas{
        width: 730px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
   .cont-geral{
       flex-direction: column;
   }
   .cadastrar{
       border: none;
       border-top: var(--laranja) 1px solid;
   }
   label input{
       width: 500px;
   }
   .btn{
       width: 500px;
       height: 30px;
       padding: 0px;
   }
   .sobre p{
    width: 730px;
    }
    .container_perfil{
        flex-direction: column;
        justify-content: center;
    }
    .form_perfil input{
        width: 400px;
    }
    .form_perfil{
        margin: auto;
        padding-top: 20px;
    }
    .imgperfil{
        display: flex;
        justify-content: center;
    }
    .btn_perfil{
        margin: 10px 4px;
        padding: 10px 60px;
    }
    .formulario-cad, .container-form{
        width: 600px;
    }
    .formulario-cad{
        flex-direction: column;
        padding: 20px;
    }
    .form_label{
        width: 730px;
        flex-direction: column;
        display: flex;
    }
    .produtos-cadastos{
        margin: auto;
        width: 200px;
    }
    .tabela_reservas{
        width: 680px;
    }
    .form-cad input{
        width: 600px ;
    }
    .form-cad{
        width: 730px;
    }
    .formulario-reservas, .container-qnt, .container-perfil{
        width: 730px;
    }
    .input_horizontal{
        width: 600px;
        margin: 0px;
    }
    .form_label .input_vert{
        width: 730px;
        margin: 0px;
    } 
}
/*CELULAR - MOBILE*/
@media (max-width:767px){
    header .pesquisa{
        width: 400px;
    }
    header ul{
        font-size: 15px;
    }
    nav, .container_h{
        width: 280px;
    }
    .container_h .logo{
        width: 100px;
    }
    .container_h{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .menu{
        flex-direction: column;
        width: 150px;
        padding-top:15px;
    }
    .menu li{
        padding-top: 10px;
    }
    .banner img{
        width: 100%;
    }
    h2{
        font-size: 20px;
    }
    hr{
        width: 300px;
    }
    .container{
        width:350px;
        margin: auto;
    }
    .container_marcas img{
        width: 120px;
        height: 80px;
    }
    .container_marcas{
        flex-wrap: wrap;
    }
    footer{
        text-align: center;
        font-size: 15px;
    }
    .sn_dev{
        width:350px;
        flex-wrap: wrap;
    }
    .container_card_mostruario{
        width: 350px;
        flex-wrap: wrap;
    }
    .container_filtro{
        width: 350px;
        flex-direction: column;
    }
    .categoria_filtro{
        margin: 5px;
    }
    .paginacao{
        width: 350px;
        justify-content: center;
    }
    .paginacao_ofertas{
        width: 330px;
    }
    .cont_branco{
        width: 350px;
    }
    .ofertas_cadastradas{
        flex-wrap: wrap;
    }
    .container_ofertas{
        width: 350px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .lista_paginacao a{
        padding: 5px 7px;
        margin: 2px;
        font-size:15pt;
    }
    .cont-geral{
        flex-direction: column;
       
    }
    .cadastrar{
        border: none;
        border-top: var(--laranja) 1px solid;
    }
    label input{
        width: 300px;
    }
    .btn{
        width: 300px;
        height: 30px;
        padding: 0px;
    }
    main{
        padding-top: 291px;
    }
    .filtros{
        flex-direction: column;
        margin: 30px 0px;
    }
    .login{
        display: flex;
        justify-content: center;
    }
    .sobre p{
        width: 350px;
    }
    .container_perfil{
        flex-direction: column;
        justify-content: center;
    }
    .form_perfil input{
        width: 300px;
    }
    .form_perfil{
        margin: auto;
        padding-top: 20px;
    }
    .imgperfil{
        display: flex;
        justify-content: center;
    }
    .btn_perfil{
        margin: 10px 4px;
        padding: 10px 30px;
    }
    .formulario-cad, .container-form{
        width: 330px;
    }
    .formulario-cad{
        flex-direction: column;
        padding: 20px;
    }
    .form_label{
        width: 350px;
        flex-direction: column;
        display: flex;
    }
    .produtos-cadastos{
        margin: auto;
        width: 200px;
    }
    .tabela_reservas{
        width: 310px;
    }
    .form-cad input{
        width: 300px ;
    }
    .form-cad{
        width: 350px;
    }
    .formulario-reservas, .container-qnt{
        width: 350px;
    }
    .input_horizontal{
        width: 300px;
        margin: 0px;
    }
    .form_label .input_vert{
        width: 350px;
        margin: 0px;
    }
    .form_adicionais{
        width: 300px;
    }
}
