:root{
    --roxo: #8A4F7D;
    --vermelho: #F2441D;
    --laranja: #FF9F1C;
    --amarelo:#FFB400;
    --cinza: #F2F2F2;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:roboto !important;
    font-size: 0.8em !important;
}
main{
    padding-top: 155px;
    background-color: var(--cinza);
}
/* CONTAINERS */


/*HOME*/
/* .banner{
    background-image: linear-gradient(rgba(138,79,125,0.4),rgba(138,79,125,0.4)),url(../imagens/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 657px;
}  */
h2{
    text-align: center;
    font-size: 22px !important;
    color: var(--roxo);
    padding-top: 20px;
}

hr{
    border: none;
    background-color: var(--laranja);
    height: 2px;
    width: 350px;
    margin: auto;
    margin-bottom: 10px;
}
h2 a{
    text-decoration: none;
    color: var(--cinza);
}
.banner_sobre{
    background-image: linear-gradient(rgba(138,79,125,0.6),rgba(138,79,125,0.6)),url(../imagens/testesobre.jpg);
    background-position: 0% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}
.container_marcas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.container_marcas img{
    width: 220px;
    height: 168px;
}
.sobre h2{
    padding-top: 30px;
    font-weight: 6px;
    color: white;
}
.sobre p{
    color:white;
    font-weight: 3px;
    font-size: 20px;
    text-align: center;
    width: 1100px;
    margin: auto;
}
/*FIM HOME*/

/* LOGIN*/
.cont-geral{
    display: flex;
    justify-content: center;

}
.cadastrar{
    border-left: var(--laranja) 1px solid;
    padding-bottom: 50px;
}
#form_cadastro label,#form_login label{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0px 150px;
}
label input{
    height: 35px;
    width: 409px;
    margin-bottom: 20px;
    text-align: left;
}
.btn_login{
    padding:10px 120px;
    border: none;
    background-color: var(--roxo);
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
}
.btn_login:hover{
    color: white;
}
/*FIM LOGIN*/
/*Ajuda*/
.btn_aj{
    background-color: white;
    color:var(--roxo);
}
.card_aj{
    background-color: white;
}
.card-header {
    background-color: white;
    border-bottom: none;
    border-radius: 0;
}
.card-header:first-child {
    border-radius: 0;
}
  
/*Fim Ajuda */

/* MINHAS OFERTAS */
/*FILTRO*/
.container_filtro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin: auto;
    padding: 10px 0px;
}
.filtro{ /*section filtro estilizando a fonte*/
    font-size: 20px;
    color: var(--roxo);
    padding: 30px 0px;
}
.filtro select{
    color: #707070; 
    border-color: var(--roxo);
    width: 175px;
    font-size: 18px;
    padding: 4px 10px;
    border-radius: 5px;
}
.filtros{
    display: flex;
    justify-content: space-around;
    margin: 30px 0px;
}
.filtros a{
    -webkit-box-shadow: 3px 3px 6px 0px rgba(204,204,204,0.5);
    -moz-box-shadow: 3px 3px 6px 0px rgba(204,204,204,0.5);
    box-shadow: 3px 3px 6px 0px rgba(204,204,204,0.5);
    padding: 10px 30px;
    text-decoration: none;
    margin-bottom: 20px;
}
/*FIM FILTROS*/
/* CARD*/
.cont_branco{
    width: 1100px;
    margin: auto;
    margin-top: 4.0em;
    margin-bottom: 4.0em;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 3px 6px 0px rgba(204,204,204,1);
    box-shadow: 0px 3px 6px 0px rgba(204,204,204,1);
    padding-bottom: 30px;
}
.container_ofertas{
    display: flex;
    width: 1100px;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0px;
}
.container_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 15px;
}
.card_oferta{
    width: 250px;
    height: 450px; 
    margin: 20px 2px;
    padding: 6px;
    -moz-box-shadow: 3px 3px 5px 0px rgba(204,204,204,1);
    box-shadow: 3px 3px 5px 0px rgba(204,204,204,1);
    background-color: white;
}
.card_oferta img{
    width: 100%;
}
.card_oferta p{
    margin: 5px 5px; 
}
.titulo_descricao{
    font-size: 12pt;  
    color: red;  
}
.titulo_preco, .preco_descricao{
    font-size: 20px;
}
.descricao_produto{
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}
.titulo descricao{
    margin: 30px;
}
.titulo_produto{
    width: 250px;
    margin: auto;
}
.titulo_descricao_logo{
    font-family: Racing Sans One;
    font-size: 18px;
    color: var(--laranja);
    padding-left: 22px;
}
.descricao{
    font-size:14pt;
}
.descricao_pequena{
    width: 60%;
}
.descricao_oferta{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.avaliacao img{
    width: 100px;
    margin: 0px 5px;
}
/*FIM CARD*/
.qnt_ofertas{
    padding-left: 210px;
    color: var(--roxo);
}
.btn_cria_Oferta{
    background-color:var(--laranja);
    color: #fff;
    text-transform: uppercase;
    border: none;
}
.btn-filtro{
    border: 1px solid var(--cinza);
    color: 1px solid var(--roxo);
}
.botoes_oferta{
    display: flex;
    justify-content: space-around;
    margin-top:20px;
}
.btn_edita_oferta{
    background-color: var(--roxo);
}
.btn_apaga_oferta , .btn_edita_oferta , .btn_reserva_oferta{
    color:#fff;
    padding: 8px 30px;
    text-decoration:none;
    text-align: center;
    border-radius: 4px;
}
.btn_apaga_oferta{
    background-color: var(--vermelho);
}
.btn_reserva_oferta{
    background-color: var(--vermelho);
}
.paginacao_ofertas{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
}
.lista_paginacao {
    width: 300px;
    display: flex;
    justify-content: center ;
    list-style: none;
}
.lista_paginacao a{
    background-color: white;
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid var(--cinza);
    border-radius: 4pt;
    -webkit-box-shadow: 3px 3px 6px 0px rgba(204,204,204,0.5);
    -moz-box-shadow: 3px 3px 6px 0px rgba(204,204,204,0.5);
    box-shadow: 3px 3px 6px 0px rgba(204,204,204,0.5);
    padding: 10px 20px;
    margin: 4px;
    color: var(--roxo);
    font-weight: bold;
    font-size:15pt;
}
/* FIM */

/*MOSTRUARIO*/
.banner_mostruario{
    background-image:url(../imagens/bannerAlimento.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 657px;
}
.caixa_imagem{
    width: 200px;
    height: 200px;
}
.descricao_pequena_logo img{
    width: 30px;
    height: 30px;
}
.descricao_pequena_logo{
    text-align: left;
}
.validade_mostruario{
    display: flex;
    align-items: center;
    margin: auto;
    padding-left: 30px;
    padding-bottom: 8px;
}
.validade_mostruario p{
    font-size: 20px;
}
.botao_reservar{
    display: flex;
    justify-content: space-around;    
}
.btn_reservar{
    background-color: var(--roxo);
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    text-align: center;
}
.empresa_produtos{/*Imagem empresa*/
    width: 80px;
    padding-left: 20px;
}
/*FIM - LUCAS*/

/*SOBRE NOS - PATY*/
.sn_topo{
    background-image:linear-gradient(rgba(138, 79, 125, 0.6),rgba(138,79,125,0.6)), url(../imagens/sobrenossn.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: top center;
    height: 450px;
    padding-top: 106px;
    display: flex;
    align-items: center;
}
.sn_texto{
    font-size: 22px;
    color: white;
    width: 1100px;
    height: 400px;
    margin: auto;
    text-align: center;
    line-height: 35px;
}
.sn_texto h2{
    color: white;
}
.sn_texto p{
    padding-top: 20px;
}
.objetivos{
    margin: 30px;
}
.sn_section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    width: 1000px;
    margin: auto;
}
.quadro1{
    color: var(--roxo);
    width: 230px;
    height: 230px;
    border-radius: 30px;
    border: 4px solid var(--laranja);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.quadro1 img{
    height: 130px;
    padding-bottom: 25px; 
}
.sn_h2_dev{
    margin-top: 50px;
}
.sn_dev{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
    margin-bottom: 50px;
}
.dev{
    color: var(--roxo);
    font-size: 25px;
}
.dev p:hover{
    color:var(--laranja);
}
.sn_dev img{
    width: 180px;
    border-radius: 50%;
    border: 4px solid var(--laranja);
    margin: 40px;
}
/*FIM SOBRE NOS/

/*PERFIL DO USUÁRIO*/
.container_perfil{
    display: flex;
    justify-content: space-around;
    padding: 40px 100px; 
}
.form_perfil label{
    padding: 0px 100px;
}
.imgperfil img{
    width: 200px;
    border: solid 2px var(--laranja);
}
.form_perfil input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 580px;
}
.btn_perfil{
    padding:10px 80px;
    margin: 10px;
    border: none;
    background-color: var(--roxo);
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
}
.btn_perfil:hover{
    color: white;
}
.btnperfil{
    display: flex;
    justify-content: flex-end;
}
/*FIM PERFIL DO USUÁRIO*/

/*CADASTRO DE OFERTAS*/
.container-perfil {
    background: white;
    padding:20px 20px;
    margin-bottom: 60px;
    width:1100px;
    margin: auto;
  }
  .formulario-cad {
    padding: 40px;
    width: 800px;
    margin:auto;
    display: flex;
    justify-content: space-between;
  }
  button {
    font-size: 1em;
    border-radius: 4px;
    padding: 10px;
    border: none;
    background-color: var(--roxo);
    color: white;
    cursor: pointer;
  }
.produtos-cadastos{
    padding: 10px;
    margin: 0px 20px 20px 0px;
    width: 300px;
  }
  .produtos-cadastos img{
    border: solid 3px var(--amarelo);
    width: 100%;
    border-radius: 6px;
  }
  .formulario-reservas{
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form_adicionais{
    width: 600px;
    height: 50px;
  }
  .container-qnt{
    width: 880px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .input_vert{
    width: 44%;
  }
  .input_horizontal{
    width: 100%;
  }
  .informacoes_adicionais{
    height: 50px;
    width: 100%;
  }
  .form-cad{
    width: 900px;
  }
  .form-group{
    padding: 10px;
  }
  .tabela_reservas tr{
    -webkit-box-shadow: 0px 3px 6px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 3px 6px 0px rgba(204,204,204,1);
    box-shadow: 0px 3px 6px 0px rgba(204,204,204,1);
    border: none;
    padding: 20px;
    border-collapse: collapse;
  }
  .tabela_reservas td, th{
    padding: 20px;
  }
  .tabela_reservas{
    width: 800px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .form-cad input{
    display: block;
    width: 80%;
    height: 34px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    color:var(--roxo);
  }

  /*BOTOES*/
/*FIM CADASTRO DE OFERTAS*/

/* CARRINHO */
.img_carrinho img{
    width: 150px;
}
.container_carrinho{
    -webkit-box-shadow: 0px 3px 6px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 3px 6px 0px rgba(204,204,204,1);
    box-shadow: 0px 3px 6px 0px rgba(204,204,204,1);
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    border: solid 0.5px var(--laranja);
    border-radius: 6px;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.card_carrinho{
    display: flex;
    align-items: center;
    padding-top:10px;
    padding-left: 10px;
}
.card_carrinho2{
    display: flex;
    padding: 10px;
    padding-right: 100px;
}
.card_carrinho2 p{
    margin: 10px;
}
.descricao_carrinho{
    padding-left: 20px;;
}
.botoes_carrinho{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.botao_carrinho{
    background-color: var(--vermelho);
    color:#fff;
    padding: 15px 30px;
    text-decoration:none;
    text-align: center;
    border-radius: 10px;
}
.btn_carrinho{
    background-color: var(--roxo);
    color:#fff;
    padding: 15px 40px;
    text-decoration:none;
    text-align: center;
    border-radius: 10px;
}
/* FIM CARRINHO */

/* PERFIL ADM */
.adm_configs_esq{
    width: 40%;
    border: 1.5px solid var(--laranja);
    border-radius: 4px;
    margin: 20px;
    padding: 20px;
}
.adm_configs_esq .adm_btn_01{
    width: 100%;
    height: 50px;
    margin: 30px 0px;
}
.adm_configs_dir{
    width: 80%;
    align-items: center;
    padding-top: 10px;
}
.adm_configs_dir img{
    width: 150px;
    border: solid 2px var(--laranja);
    margin: 30px;
    margin-left: 315px;
}
.organizacao_adm{
    height: 550px;
    display: flex;
}

/*MEDIAS QUERIES*/
/*TABLET*/
@media (max-width:1169px){
    header .pesquisa{
        width: 500px;
    }
    nav, .container_h{
        width: 768px;
    }
    .banner img{
        width: 100%;
        background-position: top;
    }
    .container_card{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .container_marcas img{
        width: 160px;
        height: 100px;
    }
    .sn_dev{
        width: 730px;
        flex-wrap: wrap;
    }
    .container_card_mostruario{
        width: 730px;
        flex-wrap: wrap;
    }
    .container_filtro{
        width: 730px;
        flex-direction: column;
    }
    .categoria_filtro{
        margin: 5px;
    }
    .container_ofertas{
        width: 730px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
   .cont-geral{
       flex-direction: column;
   }
    .cadastrar{
       border: none;
       border-top: var(--laranja) 1px solid;
    }
    .login{
       margin-bottom: 10px;
    }
    label input, .btn_login{
       width: 500px;
    }
    .container_perfil{
        flex-direction: column;
        justify-content: center;
    }
    .form_perfil input{
        width: 400px;
    }
    .form_perfil{
        margin: auto;
        padding-top: 20px;
    }
    .imgperfil{
        display: flex;
        justify-content: center;
    }
    .btn_perfil{
        margin: 10px 4px;
        padding: 10px 60px;
    }
    .formulario-cad, .container-form, .form-cad input{
        width: 600px;
    }
    .formulario-cad{
        flex-direction: column;
        padding: 20px;
    }
    .form_label{
        width: 730px;
        flex-direction: column;
        display: flex;
    }
    .produtos-cadastos{
        margin: auto;
        width: 200px;
    }
    .tabela_reservas{
        width: 680px;
    }
    .formulario-reservas, .container-qnt, .container-perfil, .form-cad,
    .paginacao, .paginacao_ofertas, .cont_branco, .container, .sobre p{
        width: 730px;
    }
    .input_horizontal{
        width: 600px;
        margin: 0px;
    }
    .form_label .input_vert{
        width: 730px;
        margin: 0px;
    } 
    /*Carrinho*/
    .container_carrinho{
        width: 600px;
        margin-top: 20px;
    }
    .card_carrinho2{
        display: flex;
        flex-wrap: wrap;
    }
    .card_carrinho2 p{
        margin: 0px;
    }
    .titulo_descricao{
        padding-top: 10px;
    }
    .adm_configs_dir img{
        margin: 30px;
        margin-left: 215px;
    }
}

/*CELULAR - MOBILE*/
@media (max-width:767px){
    header .pesquisa{
        width: 400px;
    }
    header ul{
        font-size: 15px;
    }
    nav, .container_h{
        width: 280px;
    }
    .container_h .logo, .banner img{
        width: 100px;
    }
    .container_h{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .menu{
        flex-direction: column;
        width: 150px;
        padding-top:15px;
    }
    .menu li{
        padding-top: 10px;
    }
    h2{
        font-size: 17px;
    }
    .container{
        width:350px;
        margin: auto;
    }
    .container_marcas img{
        width: 120px;
        height: 80px;
    }
    .container_marcas{
        flex-wrap: wrap;
    }
    .sn_dev, .container_card_mostruario{
        width:350px;
        flex-wrap: wrap;
    }
    .container_filtro{
        width: 350px;
        flex-direction: column;
    }
    .categoria_filtro{
        margin: 5px;
    }
    .paginacao{
        width: 350px;
        justify-content: center;
    }
    .paginacao_ofertas{
        width: 330px;
    }
    .cont_branco{
        width: 400px;
    }
    .sobre p{
        width: 350px;
    }
    .ofertas_cadastradas{
        flex-wrap: wrap;
    }
    .container_ofertas{
        width: 350px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .lista_paginacao a{
        padding: 5px 7px;
        margin: 2px;
        font-size:15pt;
    }
    .cont-geral{
        flex-direction: column;
        align-items: center;
    }
    .cadastrar{
        border-top: var(--laranja) 1px solid;
    }
    .btn_login{
        width: 304px;
        height: 30px;
        padding: 0px;
    }
    main{
        padding-top: 291px;
    }
    .filtros{
        flex-direction: column;
        margin: 30px 0px;
    }
    .login{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .container_perfil{
        flex-direction: column;
        justify-content: center;
    }
    .form_perfil{
        margin: auto;
        padding-top: 20px;
    }
    .imgperfil{
        display: flex;
        justify-content: center;
    }
    .btn_perfil{
        margin: 10px 4px;
        padding: 10px 30px;
    }
    .formulario-cad, .container-form{
        width: 330px;
    }
    .formulario-cad{
        flex-direction: column;
        padding: 20px;
    }
    .form_label{
        width: 350px;
        flex-direction: column;
        display: flex;
    }
    .produtos-cadastos{
        margin: auto;
        width: 200px;
    }
    .tabela_reservas{
        width: 310px;
    }
    .form-cad input, .form_adicionais, .form_perfil input, label input, hr{
        width: 300px ;
    }
    .formulario-reservas, .container-qnt, .form-cad{
        width: 350px;
    }
    .input_horizontal{
        width: 300px;
        margin: 0px;
    }
    .form_label .input_vert{
        width: 350px;
        margin: 0px;
    }
    .container_carrinho{
        width: 300px;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card_carrinho{
        flex-direction: column;
        padding-left: 0;
    }
    .card_carrinho2{
        flex-wrap: nowrap;
        padding-right: 11px;
    }
    .titulo_descricao{
        padding-top: 10px;
    }
    .descricao_carrinho{
        text-align: center;
        padding-left: 0;
    }
    .descricao_carrinho2{
        padding-left: 15px;
    }
    .botoes_carrinho{
        margin-top: 30px;
        flex-wrap: wrap;
    }
    .botao_carrinho{
        border-radius: 0px;
        width: 100%;
    }
    .btn_carrinho{
        border-radius: 0px;
        width: 100%;
        margin-top: 10px;
    }
    .organizacao_adm{
        height: 100%;
        width: 100%;
        margin: auto;
        flex-direction: column-reverse;
    }
    .adm_configs_dir{
        width: 100%;
        align-items: center;
    }
    .adm_configs_dir img{
        margin: 30px;
        margin-left: 100px;
    }
    .adm_configs_dir label{
        margin-left: -75px;
    }
    .adm_configs_esq{
        margin-left: 26px; 
        width: 74%;
    }
    .categoria_filtro{
        margin-left: 10px;
}
}