footer{
    text-align: center;
    font-size: 15px;
}

/*FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 150px;
    -webkit-box-shadow: 0px -3px 6px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px -3px 6px 0px rgba(204,204,204,1);
    box-shadow: 0px -3px 6px 0px rgba(204,204,204,1);
    font-size: 18px;
    color: var(--roxo);
}
.redes_sociais{
    width: 170px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.redes_sociais p{
    padding: 20px;
}
.fa-facebook-f, .fa-instagram, .fa-linkedin-in, .fa-twitter{
    color: var(--laranja);
}

.datempo{
    margin-top: 2px;
    font-size: 14px;
}

#subirTopo {
    text-decoration: none;
    background: rgba(30,156,161,.9);
    bottom: 30px;
    right: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    border: 0;
    font-family: sans-serif;
    opacity: .8;
    }
    
    #subirTopo:hover {
    opacity:1;
    }
    
@media(max-width:767px){
    footer{
        font-size:16px;
    }
}
/*FIM FOOTER*/