.adm_configs_esq{
  width: 280px;
  border-radius: 4px;
  margin: 20px;
  padding: 20px;
}
.adm_configs_esq .adm_btn_01{
  width: 220px;
  height: 50px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.btn btn-link{
  text-decoration: none;
  text-transform: none;
}
/* 
div .card-body Link{
  text-decoration: none;
  color: var(--roxo) !important;
  font-size: 14px;
}

.card-header{
  border: 1.5px solid var(--laranja);
} 

.card-body{
  border-top: 1.5px solid var(--laranja);
} */